.app-shell {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

.app-content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.loading-spinner {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-spinner p {
    margin: 0;
}